app/__pycache__
app/dossier_0/dossier_1
app/dossier_0

# Virtual environment
venv/
*.pyc
__pycache__/

# Wordlists
app/src/rockyou.txt

# Test files
app/test/dossier_0
app/test/rootkey.bin
app/src/dossier_0
app/src/rootkey.bin
app/src/dossier_0/sous_dossier
app/src/dossier_0/fichier_0.1.txt
app/src/dossier_0/fichier_0.2.txt

# PPT
slides.pptx
